.flex_container {
  max-width: 100%;
  /* position: relative;
  left: 250px; */
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 20px;
  justify-content: space-between;
  align-items: normal;
}
.heading {
  font-size: 30px;
  border-bottom: 1px solid grey;
  color: #007f99;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 10px;
  padding: 0 20px;
}
.add_container {
  padding: 22px 20px;
  background: rgba(241, 246, 255, 0.5);
  border-radius: 5px;
  color: #0b3052;
  width: 2000px;
}

.add_title {
  margin-top: 16px;
  background: #e7efff;
  padding: 4px 20px;
  min-height: 62px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 16px;
}
.label {
  margin-bottom: 0.5rem;
  font-size: 13px;
  color: #94051f;
  font-weight: 600;
  margin-bottom: 10px;
}
.input {
  appearance: none;
  border: none;
  outline: none;
  width: 100%;
  color: #495057;
  background-color: #fff;
  height: 36px;
  line-height: 1.5;
  padding: 0 0 0 6px;
  border: 1px solid #e7ecf7;
  margin-bottom: 13px;
}
.input_address {
  appearance: none;
  border: none;
  outline: none;
  width: 100%;
  color: #495057;
  background-color: #fff;
  height: 100px;
  line-height: 1.5;
  padding: 0 0 0 6px;
  border: 1px solid #e7ecf7;
}

.display_container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 1400px;
  padding: 1rem;
  border-bottom: 1px solid #e7ecf7;
  background-color: rgba(241, 246, 255, 0.5);
}
.container {
  padding: 0 50px;
}
.college_name {
  font-size: 17px;
}
.college_image {
  width: 80px;
  height: 80px;
}
